body{
    background-color: black;
}
.container{
    padding: 5px 80px;
    justify-content: center !important;
    align-items: center !important;
    background-color: bisque;
    border: 8px solid coral;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    margin: -6% 37%;
    box-shadow: 10px 15px 15px gray;
}
.btn-p:hover{
    background-color: blue !important;
    color: white !important;
    font-size:1.1rem !important;
    cursor: pointer !important;
}
.hand{
    width: 10px;
    height: 130px;
    margin-top: -56%;
    margin-left: 45%;
    background-color: red;
}
#displayTime{
    padding: 0px 60px;
    margin-top: -7px;
}
h1{
    padding: 0px 55px;
}
.tik{
    width: 10px;
    height: 130px;
    margin: 29px 90px;
    animation-name: timing;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: top;
    z-index: -1;
}
@keyframes timing{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.txt{
    margin-top: -145px;
}
.txt h2{
    padding: 0px 63px;
}
.btn{
    margin-left: 10px;
    position: relative !important;
}
.btn-p{
    padding: 4px;
    border-radius: 8px;
}
.emoji{
    padding: 0px 52px;
    font-size: 58px;
}
.clock-top{
    display: flex; 
    justify-content: center; 
    padding-top: 5px;
    position: relative; /* Add this to create a stacking context */
    z-index: 1; /* Raise the stacking context */
}
.circle{    
    background-color: brown;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0px 46px;
    position: relative;
    /* z-index: -1; */
    border: 8px solid white;
    animation-name: ears;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    }
    @keyframes ears{
        0% {border: 5px solid #39f;}
        15% {border:5px solid #8bc5d1;}
        30% {border:5px solid #f8cb4a;}
        45% {border:5px solid #95b850;}
        60% {border:5px solid #944893;}
        75% {border:5px solid #c71f00;}
        90% {border:5px solid #bdb280;}
        100%{border:5px solid #39f;}
    }
    .timer{
        height:545px !important;
      }